@media (max-width: 320px) {
  
}

@media (min-width: 321px ) and (max-width: 375px) {
 #mypr {
    height: 200px;
    width: 200px;
}
.text2 span {
    font-size: 30px;
    margin-left: 8px;
}
#banner #outer {
     margin-top: 0px; 
}
#banner #outer #hero h2 {
    margin-top: 33%;
    vertical-align: bottom;
    display: block;
}
.text2{
	margin-top: -20%;
	}
}

@media (min-width: 376px ) and (max-width: 425px) {
  #mypr {
    height: 200px;
    width: 200px;
}
.text2 span {
    font-size: 30px;
    margin-left: 8px;
}
#banner #outer {
     margin-top: 0px; 
}
#banner #outer #hero h2 {
    margin-top: 33%;
    vertical-align: bottom;
    display: block;
}
.text2{
	margin-top: -20%;
	}
}

@media (min-width: 426px ) and (max-width: 768px) {
  #mypr {
    height: 200px;
    width: 200px;
}
.text2 span {
    font-size: 30px;
    margin-left: 8px;
}
#banner #outer {
     margin-top: 0px; 
}
#banner #outer #hero h2 {
    margin-top: 33%;
    vertical-align: bottom;
    display: block;
}
.text2{
	margin-top: -20%;
	}
}

@media (min-width: 769px ) and (max-width: 1024px) {
  #mypr {
    height: 200px;
    width: 200px;
}
.text2 span {
    font-size: 30px;
    margin-left: 8px;
}
#banner #outer {
     margin-top: 0px; 
}
#banner #outer #hero h2 {
    margin-top: 33%;
    vertical-align: bottom;
    display: block;
}
.text2{
	margin-top: -20%;
	}    
}

@media (min-width: 1025px ) and (max-width: 1440px) {
 
}

@media (min-width: 1441px ) and (max-width: 2560px) {
 
}

@media (min-width: 2561px ) {
 
}